h1{
  color: navy;
  }


li {
    padding: 5px;
    margin: 5px;
    background: sandybrown;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: greenyellow;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  .form{
    margin-top: 10px;
    background: cornflowerblue;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-top: 140px;
    margin-left: -90px;
    width: 173px;
    height: auto;
  }


  /* .not-devoured {
  
    float: left;
    background-color: aqua;
    width: 310px;
    min-height:300px;
    margin-top: 0px;
} */

/* .devoured {
    background-color: seagreen;
    width: 310px;
    margin-left: 310px;
    min-height:300px;
} */

/* .center {
  margin: auto;
  width: 50%;
  
  padding: 10px;
} 
*/

/* .middle-section{
  margin: auto;
  width:80%;

} */

body, html {
  height: 100%;
}

.bg { 
  /* The image used */
  background-image: url("../../img/burger-vector.jpg");

  /* Full height */
  height: 130%; 
  width:100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.h2L{
  margin-top: 0px;
}


/* container */

#container {
  width:100%;
  text-align:center;
}

#left {
  float:left;
  width:auto;
}

#center {
  display: inline-block;
  margin:0 auto;
  width:auto;
}

#right {
  float:right;
  width:auto;
  }